<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="CRMDataStore" connectionString="Data Source=restorder.db.8698213.hostedresource.com;Initial Catalog=restorder;User ID=restorder;Password=Tony1221" providerName="System.Data.SqlClient" />-->
    <add name="CRMDataStore" connectionString="Data Source=DWUDM12BL\Testsql;Initial Catalog=EBA;User ID=sa;Password=David123" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" defaultRedirect="~/GeneralErrorPage.aspx" />

    <sessionState mode="InProc" timeout="2">
    </sessionState>

    <healthMonitoring enabled="true">
      <eventMappings>
        <clear />
        <!-- Log ALL error events -->
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647" />
      </eventMappings>
      <providers>
        <clear />
        <add type="System.Web.Management.EventLogWebEventProvider" name="EventLogProvider" />
        <add type="System.Web.Management.SimpleMailWebEventProvider" name="EmailWebEventProvider" from="Costbook@future.ca" to="david.wu@future.ca,david.wu@future.ca" bodyHeader="! Costbook Management System Exception !" bodyFooter="Brought to you by Costbook Management System." buffer="false" />
      </providers>
      <rules>
        <clear />
        <add eventName="All Errors" name="All Error Event" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
        <add eventName="All Errors" name="All Errors Email" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
      </rules>
    </healthMonitoring>

    <authentication mode="Forms">
      <forms loginUrl="~/Logon.aspx" timeout="2880" />
    </authentication>

    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <trust level="Full" />
  </system.web>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="SMTP.FUTURE.CA" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <handlers>
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="SimpleBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="256" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="WindowsBinaryBinding" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:02:00" sendTimeout="00:02:00">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647">
            <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="BA.Web.WebServices.ProductService">
        <endpoint binding="customBinding" bindingConfiguration="WindowsBinaryBinding"
          contract="BA.Web.WebServices.ProductService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="BA.Web.WebServices.TestService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="SimpleBinding"
          contract="BA.Web.WebServices.TestService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
