<div id="locale-container" class="ui-button">
    <span id="locale-link" class="link-span">
        <img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif"
            style="" class=" sprite sprite_web s_web_world_grey" />&nbsp; 
            <a>English</a>
        &nbsp;<img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif"
            style="" class=" sprite sprite_web s_web_sort-uptick-off" />
    </span>
    <div id="locale-menu" class="sub-nav chat-bubble-bottom">
        <ul>
            <li><a data-locale="en" class="locale-option">English</a> </li>
            <li><a data-locale="es" class="locale-option">Español</a> </li>
            <li><a data-locale="fr" class="locale-option">Français</a> </li>
            <li><a data-locale="de" class="locale-option">Deutsch</a> </li>
            <li><a data-locale="ja" class="locale-option">日本語< /a> </li>
            <li><a data-locale="ko" class="locale-option">한국어</a> </li>
        </ul>
        <div class="chat-bubble-arrow-border">
        </div>
        <div class="chat-bubble-arrow">
        </div>
    </div>
</div>
<div class="clear">
</div>
</div>
<noscript>
    <p class="center">
        The Dropbox website requires JavaScript.
    </p>
</noscript>
</div>
<div style="position: absolute; top: 0; left: 0; font-family: Courier" id="ieconsole">
</div>
<div style="position: absolute; top: -10000px; width: 0px; height: 0px; left: 0;"
    id="FB_HiddenContainer">
</div>
<div style="display: none;" id="notice-container" class="clearfix">
</div>
<div id="top-login-wrapper">
    <a href="/login" id="login-hover-link">
        <img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif"
            style="" class="link-img sprite sprite_web s_web_door_in link-img" />
        Sign in
        <img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif"
            style="padding: 0; margin-left: 2px; margin-top: -1px;" class="link-img sprite sprite_web s_web_login_arrow link-img"
            id="login-hover-dropdown-icon" />
    </a>
    <div id="login-hover-cont" class="offscreen chat-bubble">
        <form action="https://www.dropbox.com/login" method="post">
            <input type="hidden" name="t" value="4WB6IyoAnKWMrW6uW3OWSv4f" />
            <div class="sick-input small">
                <label for="login_email_elm">
                    Email</label>
                <input type="text" id="login_email_elm" name="login_email" tabindex="1" />
            </div>
            <div class="sick-input small">
                <label for="login_password_elm">
                    Password</label>
                <input type="password" id="login_password_elm" name="login_password" tabindex="2" />
            </div>
            <p style="margin-bottom: 0.5em; line-height: 28px;">
                <input style="vertical-align: middle; margin-left: 0;" name="remember_me" class="no-border"
                    type="checkbox" id="remember_me" tabindex="3" />
                <label style="vertical-align: middle; cursor: pointer;" for="remember_me">
                    Remember me
                </label>
                <input tabindex="4" type="submit" class="freshbutton-blue" value="Sign in" id="toplogin-submit" />
                <input type="hidden" name="cont" value="/home" />
            </p>
            <p class="create-account">
                <a href="/register" id="login-create-an-account">Create an account</a>
            </p>
        </form>
        <div class="chat-bubble-arrow-border">
        </div>
        <div class="chat-bubble-arrow">
        </div>
    </div>
</div>
</li></ul></div></div>
<div style="display: none;" id="modal-locale-selector">
    <ul>
        <li><a data-locale="en" class="locale-option">English</a></li>
        <li><a data-locale="es"
            class="locale-option">Español</a></li>
        <li><a data-locale="fr" class="locale-option">Français</a></li>
        <li><a data-locale="de" class="locale-option">Deutsch</a></li>
        <li><a
            data-locale="ja" class="locale-option">日本語</a></li>
        <li><a data-locale="ko" class="locale-option">한국어</a></li>
    </ul>
</div>
