<div style="width: 716px; background-color: #2D2D2D;">
    <table style="width: 716px; background-color: #2D2D2D;" border="0" cellpadding="0"
        cellspacing="0">
        <tr>
            <td style="height: 25px;" colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="width: 35px;">
                &nbsp;
            </td>
            <td style="background: #FFFFFF; width: 646px;">
                <table style="width: 646px;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3" style="height: 15px;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 65px">
                            &nbsp;
                        </td>
                        <td>
                            <img src="http://www.OrderByApps.com/email/WebSiteEmailResources/logo_en-US.png" width="515px"
                                height="55px" alt="OrderByApps Private sales, luxury brands, members-only prices"
                                style="display: block;" />
                        </td>
                        <td style="width: 65px">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="height: 15px;">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 35px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="http://www.OrderByApps.com/email/WebSiteEmailResources/todayeventsbanner_en-US.jpg"
                    width="716px" height="85px" alt="Welcome" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="http://www.OrderByApps.com/email/WebSiteEmailResources/events_en-US.jpg"
                    width="716px" height="39px" alt="Events starting today" style="display: block;
                    border: none;" />
            </td>
        </tr>
        <tr>
            <td style="width: 35px">
                &nbsp;
            </td>
            <td style="background: #FFFFFF;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="width: 68px;">
                            &nbsp;
                        </td>
                        <td style="width: 510px;">
                            {{Events}}
                        </td>
                        <td style="width: 68px;">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 35px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="width: 35px">
                &nbsp;
            </td>
            <td style="background: #FFFFFF;">
                <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="width: 67px;">
                            &nbsp;
                        </td>
                        <td style="width: 510px; text-align: center;">
                            <br />
                            If you wish to be removed from the OrderByApps mailing list, please <a href="{{UnsubsribeLink}}">
                                click here</a>.
                        </td>
                        <td style="width: 67px;">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 35px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="height: 25px;" colspan="3">
                &nbsp;
            </td>
        </tr>
    </table>
</div>
